UnrealEngine/Build/Android/project.properties
UnrealEngine/Build/Android/res/drawable/downloadimageh.png
UnrealEngine/Build/Android/res/drawable/downloadimagev.png
UnrealEngine/Build/Android/res/drawable/icon.png
UnrealEngine/Build/Android/res/drawable/splashscreen_landscape.png
UnrealEngine/Build/Android/res/drawable/splashscreen_portrait.png
UnrealEngine/Build/Android/res/drawable-hdpi/icon.png
UnrealEngine/Build/Android/res/drawable-ldpi/icon.png
UnrealEngine/Build/Android/res/drawable-mdpi/icon.png
UnrealEngine/Build/Android/res/drawable-xhdpi/icon.png
UnrealEngine/Intermediate/CachedAssetRegistry_0.bin
UnrealEngine/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
UnrealEngine/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
UnrealEngine/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
UnrealEngine/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
UnrealEngine/Intermediate/Config/CoalescedSourceConfigs/ObjectMixerSerializedData.ini
UnrealEngine/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
UnrealEngine/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSessionBrowserSettings.ini
UnrealEngine/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
UnrealEngine/Intermediate/PipInstall/extra_urls.txt
UnrealEngine/Intermediate/PipInstall/merged_requirements.in
UnrealEngine/Intermediate/PipInstall/pyreqs_plugins.list
UnrealEngine/Intermediate/PipInstall/Lib/site-packages/plugin_site_package.pth
UnrealEngine/Intermediate/ReimportCache/3688439234.bin
UnrealEngine/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
UnrealEngine/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
UnrealEngine/Saved/Logs/VRTree2_2-backup-2025.05.06-11.04.05.log
UnrealEngine/Saved/Logs/VRTree2_2.log
UnrealEngine/Saved/Logs/VRTree2-backup-2025.05.06-10.53.12.log
UnrealEngine/Saved/Logs/VRTree2-backup-2025.05.06-10.59.22.log
UnrealEngine/Saved/Logs/VRTree2-backup-2025.05.06-11.05.02.log
UnrealEngine/Saved/Logs/VRTree2.log
UnrealEngine/Saved/AutoScreenshot.png
UnrealEngine/Saved/Autosaves/PackageRestoreData.json
UnrealEngine/Saved/Config/CrashReportClient/UECC-Windows-4E6D2DF14CF3BEBC592B82994332E1FC/CrashReportClient.ini
UnrealEngine/Saved/Config/CrashReportClient/UECC-Windows-61FC236C42B798E00CE2D88CC6CE095E/CrashReportClient.ini
UnrealEngine/Saved/Config/CrashReportClient/UECC-Windows-6FA2994F4AE0CF87B4776984044079BB/CrashReportClient.ini
UnrealEngine/Saved/Config/CrashReportClient/UECC-Windows-A581A8B34FB3BA6472B1C4B554A4DB88/CrashReportClient.ini
UnrealEngine/Saved/Config/CrashReportClient/UECC-Windows-AFD9D8B8427F2B48E7F0AEBE2DCD23B0/CrashReportClient.ini
UnrealEngine/Saved/Config/CrashReportClient/UECC-Windows-D80B1D86423304F90A40B688189B646B/CrashReportClient.ini
UnrealEngine/Saved/Config/WindowsEditor/Editor.ini
UnrealEngine/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
UnrealEngine/Saved/Config/WindowsEditor/GameUserSettings.ini
UnrealEngine/Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_70d9aaa8e206c14/Default/DDCKey-Editor.txt
UnrealEngine/Saved/Telemetry/Telemetry.json
.DS_Store

# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size
[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Pp]ackage[Cc]ache/
